*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 20px;
}
.padre{
	height:1250px;
	width:100vw;
}
body {font-family: 'LEMON MILK', sans-serif;;
	background:$colorFondoClaro;
	font-size: 1rem;
	margin-bottom: 0;
}